.screensaver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  cursor: none;
}

.screensaver-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

.screensaver-placeholder {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.screensaver-placeholder p {
  margin: 16px 0;
}
